body {
  padding-top: 5rem;
}

body, html {
  height: 100%;
}

.video-wrapper {
  width: 100%;
  background-color: lightblue;
}

h1
{
  color: black;	
}

h2
{
  color: black;
}

col-sm-4
{
background-color: lightblue;
}	

#nam
{
  font-size: 15px;	
}

#new
{
  font-size: 15px;
}

.para
{
color: red;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
}

section {
  margin: 1rem;
  padding: 2rem;
  background-color: lightblue;
  border-radius: 2em;
}

.bgimg {
  background-image: url("https://github.com/prashanthr036/aboutme/blob/master/Back.jpg?raw=true");
  height: 100%;
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* fixed in viewport */
}

.importanat
{
	position: relative;
	font-size: 15px;
}



img {
  border-radius: 50%;
}
